In [1]:
import pandas as pd 
import sklearn 
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
import xgboost as xgb
from sklearn import metrics 
from scipy import stats
from scipy.stats import randint
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold

In [3]:
data=pd.read_csv('Train.csv')
data.head()
data['Client Retention Flag']= data['Client Retention Flag'].map({'Yes': 1, 'No': 0})

In [9]:
data=data.drop(columns='Flag 5')

In [13]:
data=data.drop(columns=['Activity 5 Time Period  11','Activity 5 Time Period  10','Activity 5 Time Period  9','Activity 5 Time Period  8','Activity 5 Time Period  7','Activity 5 Time Period  6','Activity 5 Time Period  5','Activity 5 Time Period  4','Activity 5 Time Period  3','Activity 5 Time Period  2','Activity 5 Time Period  1','Activity 5 Time Period  0'
,'Activity 6 Time Period  11','Activity 6 Time Period  10','Activity 6 Time Period  9','Activity 6 Time Period  8','Activity 6 Time Period  7','Activity 6 Time Period  6','Activity 6 Time Period  5','Activity 6 Time Period  4','Activity 6 Time Period  3','Activity 6 Time Period  2','Activity 6 Time Period  1','Activity 6 Time Period  0'
,'Activity 7 Time Period  11','Activity 7 Time Period  10','Activity 7 Time Period  9','Activity 7 Time Period  8','Activity 7 Time Period  7','Activity 7 Time Period  6','Activity 7 Time Period  5','Activity 7 Time Period  4','Activity 7 Time Period  3','Activity 7 Time Period  2','Activity 7 Time Period  1','Activity 7 Time Period  0'
,'Activity 8 Time Period 11','Activity 8 Time Period 10','Activity 8 Time Period 9','Activity 8 Time Period 8','Activity 8 Time Period 7','Activity 8 Time Period 6','Activity 8 Time Period 5','Activity 8 Time Period 4','Activity 8 Time Period 3','Activity 8 Time Period 2','Activity 8 Time Period 1','Activity 8 Time Period 0'
                       ])

In [17]:
data.head()

,Client ID,Company ID,Client Contract Starting Month,Flag 1,Flag 2,Flag 3,Flag 4,Flag 6,Activity 1 Time Period 11,Activity 1 Time Period 10,...,Activity 4 Time Period 8,Activity 4 Time Period 7,Activity 4 Time Period 6,Activity 4 Time Period 5,Activity 4 Time Period 4,Activity 4 Time Period 3,Activity 4 Time Period 2,Activity 4 Time Period 1,Activity 4 Time Period 0,Client Retention Flag
0,10004519380,6294937,Jun,Multi Year,2,Yes,Unknown,Manufacturing,24,16,...,1,0,0,0,2,0,0,0,1,1
1,10004521476,6293796,Mar,Multi Year,7,No,Yes,Government,9,2,...,0,0,0,0,0,2,0,0,0,0
2,10004515403,6293911,Dec,Multi Year,2,No,Unknown,Technology and Telecom,1,11,...,0,0,0,1,0,0,1,0,1,1
3,10004511478,6293048,Feb,Multi Year,2,No,Unknown,Technology and Telecom,1,0,...,1,0,0,0,1,0,0,0,0,0
4,10004516858,6294364,Jun,Multi Year,7,No,Unknown,"Banking, Finance & Ins",16,14,...,0,1,0,1,1,1,0,0,0,1

In [19]:
data_encoded=pd.get_dummies(data)
data_encoded=data_encoded.drop(columns='Client ID')
pd.get_dummies(data_encoded,drop_first=True)
data_encoded=pd.get_dummies(data_encoded,columns=['Flag 2'])
#data_encoded.head()

In [20]:
Y=data_encoded['Client Retention Flag']
X=data_encoded.drop(columns='Client Retention Flag')

In [21]:
X.head()

,Company ID,Activity 1 Time Period 11,Activity 1 Time Period 10,Activity 1 Time Period 9,Activity 1 Time Period 8,Activity 1 Time Period 7,Activity 1 Time Period 6,Activity 1 Time Period 5,Activity 1 Time Period 4,Activity 1 Time Period 3,...,Flag 2_1,Flag 2_2,Flag 2_3,Flag 2_4,Flag 2_5,Flag 2_6,Flag 2_7,Flag 2_9,Flag 2_10,Flag 2_13
0,6294937,24,16,20,52,0,14,94,44,16,...,0,1,0,0,0,0,0,0,0,0
1,6293796,9,2,0,18,27,0,26,2,6,...,0,0,0,0,0,0,1,0,0,0
2,6293911,1,11,12,0,11,13,5,6,11,...,0,1,0,0,0,0,0,0,0,0
3,6293048,1,0,0,0,2,0,10,1,0,...,0,1,0,0,0,0,0,0,0,0
4,6294364,16,14,48,6,6,0,8,18,12,...,0,0,0,0,0,0,1,0,0,0

In [76]:
clf_xgb = xgb.XGBClassifier(objective = 'binary:logistic')
param_dist = {'n_estimators': stats.randint(150, 1000),
              'learning_rate': stats.uniform(0.01, 0.6),
              'subsample': stats.uniform(0.1, 0.9),
              'max_depth': [3, 4, 5, 6, 7, 8, 9,10,11],
              'colsample_bytree': stats.uniform(0.5, 0.9),
              'min_child_weight': [1, 2, 3, 4]
             }

numFolds = 5
kfold_5 = KFold(shuffle = True, n_splits = numFolds)

clf = RandomizedSearchCV(clf_xgb, 
                         param_distributions = param_dist,
                         cv = kfold_5,  
                         n_iter = 5, # you want 5 here not 25 if I understand you correctly 
                         scoring = 'roc_auc', 
                         error_score = 0, 
                         verbose = 3, 
                         n_jobs = -1)

In [77]:
train_X, test_X, train_Y, test_Y = train_test_split(X,Y,random_state=2)

In [78]:
clf.fit(train_X,train_Y)

Fitting 5 folds for each of 5 candidates, totalling 25 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  18 out of  25 | elapsed:   43.6s remaining:   16.9s
[Parallel(n_jobs=-1)]: Done  25 out of  25 | elapsed:  1.3min finished

RandomizedSearchCV(cv=KFold(n_splits=5, random_state=None, shuffle=True),
                   error_score=0,
                   estimator=XGBClassifier(base_score=0.5, booster='gbtree',
                                           colsample_bylevel=1,
                                           colsample_bynode=1,
                                           colsample_bytree=1, gamma=0,
                                           learning_rate=0.1, max_delta_step=0,
                                           max_depth=3, min_child_weight=1,
                                           missing=None, n_estimators=100,
                                           n_jobs=1, nthread=None,
                                           objective='binary:logisti...
                                        'learning_rate': <scipy.stats._distn_infrastructure.rv_frozen object at 0x000001633FF797F0>,
                                        'max_depth': [3, 4, 5, 6, 7, 8, 9, 10,
                                                      11],
                                        'min_child_weight': [1, 2, 3, 4],
                                        'n_estimators': <scipy.stats._distn_infrastructure.rv_frozen object at 0x000001633EE6FA90>,
                                        'subsample': <scipy.stats._distn_infrastructure.rv_frozen object at 0x000001633EE886D8>},
                   pre_dispatch='2*n_jobs', random_state=None, refit=True,
                   return_train_score=False, scoring='roc_auc', verbose=3)

In [63]:
clf.cv_results_

{'mean_fit_time': array([ 0.11357436,  0.10477409,  0.10556793,  0.12476668, 22.92696505]),
 'std_fit_time': array([0.00823434, 0.0039166 , 0.01254868, 0.02350507, 3.40807984]),
 'mean_score_time': array([0.        , 0.        , 0.        , 0.        , 0.06163998]),
 'std_score_time': array([0.        , 0.        , 0.        , 0.        , 0.00922325]),
 'param_colsample_bytree': masked_array(data=[1.3189614716754545, 1.3060050445526443,
                    1.112599707629386, 1.0384992994987052,
                    0.9549114151605211],
              mask=[False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_learning_rate': masked_array(data=[0.3129148494021973, 0.05034846839123267,
                    0.5534488144990509, 0.08442254360592294,
                    0.6081763390464386],
              mask=[False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_max_depth': masked_array(data=[4, 5, 5, 9, 4],
              mask=[False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_min_child_weight': masked_array(data=[2, 3, 1, 4, 2],
              mask=[False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_n_estimators': masked_array(data=[561, 838, 892, 905, 397],
              mask=[False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_subsample': masked_array(data=[0.9691006464344785, 0.8346556638808293,
                    1.1956366321783758, 0.499845013968222,
                    0.4262455970999188],
              mask=[False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'colsample_bytree': 1.3189614716754545,
   'learning_rate': 0.3129148494021973,
   'max_depth': 4,
   'min_child_weight': 2,
   'n_estimators': 561,
   'subsample': 0.9691006464344785},
  {'colsample_bytree': 1.3060050445526443,
   'learning_rate': 0.05034846839123267,
   'max_depth': 5,
   'min_child_weight': 3,
   'n_estimators': 838,
   'subsample': 0.8346556638808293},
  {'colsample_bytree': 1.112599707629386,
   'learning_rate': 0.5534488144990509,
   'max_depth': 5,
   'min_child_weight': 1,
   'n_estimators': 892,
   'subsample': 1.1956366321783758},
  {'colsample_bytree': 1.0384992994987052,
   'learning_rate': 0.08442254360592294,
   'max_depth': 9,
   'min_child_weight': 4,
   'n_estimators': 905,
   'subsample': 0.499845013968222},
  {'colsample_bytree': 0.9549114151605211,
   'learning_rate': 0.6081763390464386,
   'max_depth': 4,
   'min_child_weight': 2,
   'n_estimators': 397,
   'subsample': 0.4262455970999188}],
 'split0_test_score': array([0.        , 0.        , 0.        , 0.        , 0.84208149]),
 'split1_test_score': array([0.        , 0.        , 0.        , 0.        , 0.85034573]),
 'split2_test_score': array([0.       , 0.       , 0.       , 0.       , 0.8450486]),
 'split3_test_score': array([0.        , 0.        , 0.        , 0.        , 0.85112287]),
 'split4_test_score': array([0.        , 0.        , 0.        , 0.        , 0.85328601]),
 'mean_test_score': array([0.        , 0.        , 0.        , 0.        , 0.84837619]),
 'std_test_score': array([0.       , 0.       , 0.       , 0.       , 0.0041526]),
 'rank_test_score': array([2, 2, 2, 2, 1])}

In [64]:
clf.cv_results_['mean_test_score']
clf.best_params_

{'colsample_bytree': 0.9549114151605211,
 'learning_rate': 0.6081763390464386,
 'max_depth': 4,
 'min_child_weight': 2,
 'n_estimators': 397,
 'subsample': 0.4262455970999188}

In [65]:
d_train = xgb.DMatrix(train_X, label=train_Y)
d_test = xgb.DMatrix(test_X, label=test_Y)
params = {
'colsample_bytree': 0.5432477190709075,
   'learning_rate': 0.33175415334759234,
   'max_depth': 9,
   'min_child_weight': 2,
   'n_estimators': 985,
   'subsample': 0.9529567150275902}
model2 = xgb.train(params, d_train, 2000, evals = [(d_test, "test")], verbose_eval=100, early_stopping_rounds=20)

[0]	test-rmse:0.458899
Will train until test-rmse hasn't improved in 20 rounds.

F:\Anaconda\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

Stopping. Best iteration:
[73]	test-rmse:0.346026

In [66]:
xgb_fea_imp=pd.DataFrame(list(model2.get_fscore().items()),
columns=['feature','importance']).sort_values('importance', ascending=False)
print('',xgb_fea_imp)

                                feature  importance
3                           Company ID        1827
0             Activity 1 Time Period 0         857
36            Activity 1 Time Period 1         827
1             Activity 1 Time Period 4         812
56            Activity 1 Time Period 2         795
24           Activity 1 Time Period 10         786
8             Activity 1 Time Period 6         773
7            Activity 1 Time Period 11         755
9             Activity 1 Time Period 9         728
37            Activity 1 Time Period 3         692
38            Activity 1 Time Period 8         670
43            Activity 1 Time Period 7         662
4             Activity 1 Time Period 5         646
5             Activity 2 Time Period 2         224
71            Activity 4 Time Period 4         209
28            Activity 2 Time Period 1         200
20            Activity 2 Time Period 4         197
41            Activity 4 Time Period 0         194
17            Activity 2 Time Period 7         192
21           Activity 4 Time Period 10         182
59                           Flag 3_No         180
53            Activity 4 Time Period 5         180
48           Activity 2 Time Period 11         179
12            Activity 4 Time Period 6         178
46            Activity 4 Time Period 7         175
52            Activity 2 Time Period 3         171
6             Activity 4 Time Period 3         171
78            Activity 2 Time Period 0         170
39  Client Contract Starting Month_Dec         169
2                    Flag 1_Multi Year         168
..                                 ...         ...
57            Activity 3 Time Period 0          82
50                          Flag 3_Yes          80
73  Client Contract Starting Month_Sep          79
77                  Flag 1_Single Year          76
34  Client Contract Starting Month_Jan          72
63            Activity 3 Time Period 3          71
44           Activity 3 Time Period 10          68
25            Activity 3 Time Period 8          67
51       Flag 6_Banking, Finance & Ins          67
19            Activity 3 Time Period 7          67
70            Activity 3 Time Period 9          65
61                            Flag 2_3          60
54  Client Contract Starting Month_Aug          60
76  Client Contract Starting Month_May          58
79  Client Contract Starting Month_Apr          56
31                   Flag 6_Healthcare          53
74  Client Contract Starting Month_Oct          50
47  Client Contract Starting Month_Jul          49
67  Client Contract Starting Month_Nov          41
82  Client Contract Starting Month_Feb          35
58                           Flag 2_10          31
40                     Flag 6_Services          30
72           Flag 6_Energy & Utilities          25
49                            Flag 2_4          20
84                      Flag 6_Unknown          14
81                       Flag 6_Retail          13
85                            Flag 2_1           6
83                            Flag 2_5           2
86                           Flag 2_13           2
35                            Flag 2_9           1

[87 rows x 2 columns]

In [69]:
y_pred=model2.predict(d_test)
y_pred
for i in range(y_pred.size):
    y_pred[i]=round(y_pred[i])

In [70]:
metrics.accuracy_score(test_Y,y_pred)

0.8403284671532847

In [71]:
best_xg=clf.best_estimator_

In [72]:
y_pred=best_xg.predict(test_X)
y_pred
for i in range(y_pred.size):
    y_pred[i]=round(y_pred[i])

In [73]:
metrics.accuracy_score(test_Y,y_pred)

0.8298357664233577