In [2]:
import pandas as pd 
import sklearn 
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import scale
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
import xgboost as xgb
from sklearn import metrics 
from scipy import stats
from scipy.stats import randint
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.preprocessing import normalize

In [3]:
data=pd.read_csv('Train.csv')
data.head()
data['Client Retention Flag']= data['Client Retention Flag'].map({'Yes': 1, 'No': 0})

In [4]:
data_encoded=pd.get_dummies(data)
data_encoded=data_encoded.drop(columns='Client ID')
pd.get_dummies(data_encoded,drop_first=True)
data_encoded=pd.get_dummies(data_encoded,columns=['Flag 2','Flag 5'])
#data_encoded.head()

In [5]:
Y=data_encoded['Client Retention Flag']
X=data_encoded.drop(columns='Client Retention Flag')

In [6]:
Retened=X[Y==1]
Left=X[Y==0]

In [10]:
X.head()

,Company ID,Activity 1 Time Period 11,Activity 1 Time Period 10,Activity 1 Time Period 9,Activity 1 Time Period 8,Activity 1 Time Period 7,Activity 1 Time Period 6,Activity 1 Time Period 5,Activity 1 Time Period 4,Activity 1 Time Period 3,...,Flag 5_12,Flag 5_13,Flag 5_14,Flag 5_15,Flag 5_16,Flag 5_17,Flag 5_18,Flag 5_19,Flag 5_20,Flag 5_21
0,6294937,24,16,20,52,0,14,94,44,16,...,0,0,0,0,0,0,0,0,0,0
1,6293796,9,2,0,18,27,0,26,2,6,...,0,0,0,0,0,0,0,0,0,0
2,6293911,1,11,12,0,11,13,5,6,11,...,0,0,0,1,0,0,0,0,0,0
3,6293048,1,0,0,0,2,0,10,1,0,...,0,0,0,1,0,0,0,0,0,0
4,6294364,16,14,48,6,6,0,8,18,12,...,0,0,0,0,0,0,0,0,0,0

In [10]:
Act1=X['Activity 1 Time Period 11']+X['Activity 1 Time Period 10']+X['Activity 1 Time Period 9']+X['Activity 1 Time Period 8']+X['Activity 1 Time Period 7']+X['Activity 1 Time Period 6']+X['Activity 1 Time Period 5']+X['Activity 1 Time Period 4']+X['Activity 1 Time Period 3']+X['Activity 1 Time Period 2']+X['Activity 1 Time Period 1']+X['Activity 1 Time Period 0']
Act2=X['Activity 2 Time Period 11']+X['Activity 2 Time Period 10']+X['Activity 2 Time Period 9']+X['Activity 2 Time Period 8']+X['Activity 2 Time Period 7']+X['Activity 2 Time Period 6']+X['Activity 2 Time Period 5']+X['Activity 2 Time Period 4']+X['Activity 2 Time Period 3']+X['Activity 2 Time Period 2']+X['Activity 2 Time Period 1']+X['Activity 2 Time Period 0']
Act3=X['Activity 3 Time Period 11']+X['Activity 3 Time Period 10']+X['Activity 3 Time Period 9']+X['Activity 3 Time Period 8']+X['Activity 3 Time Period 7']+X['Activity 3 Time Period 6']+X['Activity 3 Time Period 5']+X['Activity 3 Time Period 4']+X['Activity 3 Time Period 3']+X['Activity 3 Time Period 2']+X['Activity 3 Time Period 1']+X['Activity 3 Time Period 0']
Act4=X['Activity 4 Time Period 11']+X['Activity 4 Time Period 10']+X['Activity 4 Time Period 9']+X['Activity 4 Time Period 8']+X['Activity 4 Time Period 7']+X['Activity 4 Time Period 6']+X['Activity 4 Time Period 5']+X['Activity 4 Time Period 4']+X['Activity 4 Time Period 3']+X['Activity 4 Time Period 2']+X['Activity 4 Time Period 1']+X['Activity 4 Time Period 0']
Act5=X['Activity 5 Time Period  11']+X['Activity 5 Time Period  10']+X['Activity 5 Time Period  9']+X['Activity 5 Time Period  8']+X['Activity 5 Time Period  7']+X['Activity 5 Time Period  6']+X['Activity 5 Time Period  5']+X['Activity 5 Time Period  4']+X['Activity 5 Time Period  3']+X['Activity 5 Time Period  2']+X['Activity 5 Time Period  1']+X['Activity 5 Time Period  0']
Act6=X['Activity 6 Time Period  11']+X['Activity 6 Time Period  10']+X['Activity 6 Time Period  9']+X['Activity 6 Time Period  8']+X['Activity 6 Time Period  7']+X['Activity 6 Time Period  6']+X['Activity 6 Time Period  5']+X['Activity 6 Time Period  4']+X['Activity 6 Time Period  3']+X['Activity 6 Time Period  2']+X['Activity 6 Time Period  1']+X['Activity 6 Time Period  0']
Act7=X['Activity 7 Time Period  11']+X['Activity 7 Time Period  10']+X['Activity 7 Time Period  9']+X['Activity 7 Time Period  8']+X['Activity 7 Time Period  7']+X['Activity 7 Time Period  6']+X['Activity 7 Time Period  5']+X['Activity 7 Time Period  4']+X['Activity 7 Time Period  3']+X['Activity 7 Time Period  2']+X['Activity 7 Time Period  1']+X['Activity 7 Time Period  0']
Act8=X['Activity 8 Time Period 11']+X['Activity 8 Time Period 10']+X['Activity 8 Time Period 9']+X['Activity 8 Time Period 8']+X['Activity 8 Time Period 7']+X['Activity 8 Time Period 6']+X['Activity 8 Time Period 5']+X['Activity 8 Time Period 4']+X['Activity 8 Time Period 3']+X['Activity 8 Time Period 2']+X['Activity 8 Time Period 1']+X['Activity 8 Time Period 0']

In [21]:
Act1=scale(Act1)
Act2=scale(Act2)
Act3=scale(Act3)
Act4=scale(Act4)
Act5=scale(Act5)
Act6=scale(Act6)
Act7=scale(Act7)
Act8=scale(Act8)

In [12]:
for lamda in X.columns:
    print(lamda)

Company ID
Activity 1 Time Period 11
Activity 1 Time Period 10
Activity 1 Time Period 9
Activity 1 Time Period 8
Activity 1 Time Period 7
Activity 1 Time Period 6
Activity 1 Time Period 5
Activity 1 Time Period 4
Activity 1 Time Period 3
Activity 1 Time Period 2
Activity 1 Time Period 1
Activity 1 Time Period 0
Activity 2 Time Period 11
Activity 2 Time Period 10
Activity 2 Time Period 9
Activity 2 Time Period 8
Activity 2 Time Period 7
Activity 2 Time Period 6
Activity 2 Time Period 5
Activity 2 Time Period 4
Activity 2 Time Period 3
Activity 2 Time Period 2
Activity 2 Time Period 1
Activity 2 Time Period 0
Activity 3 Time Period 11
Activity 3 Time Period 10
Activity 3 Time Period 9
Activity 3 Time Period 8
Activity 3 Time Period 7
Activity 3 Time Period 6
Activity 3 Time Period 5
Activity 3 Time Period 4
Activity 3 Time Period 3
Activity 3 Time Period 2
Activity 3 Time Period 1
Activity 3 Time Period 0
Activity 4 Time Period 11
Activity 4 Time Period 10
Activity 4 Time Period 9
Activity 4 Time Period 8
Activity 4 Time Period 7
Activity 4 Time Period 6
Activity 4 Time Period 5
Activity 4 Time Period 4
Activity 4 Time Period 3
Activity 4 Time Period 2
Activity 4 Time Period 1
Activity 4 Time Period 0
Activity 5 Time Period  11
Activity 5 Time Period  10
Activity 5 Time Period  9
Activity 5 Time Period  8
Activity 5 Time Period  7
Activity 5 Time Period  6
Activity 5 Time Period  5
Activity 5 Time Period  4
Activity 5 Time Period  3
Activity 5 Time Period  2
Activity 5 Time Period  1
Activity 5 Time Period  0
Activity 6 Time Period  11
Activity 6 Time Period  10
Activity 6 Time Period  9
Activity 6 Time Period  8
Activity 6 Time Period  7
Activity 6 Time Period  6
Activity 6 Time Period  5
Activity 6 Time Period  4
Activity 6 Time Period  3
Activity 6 Time Period  2
Activity 6 Time Period  1
Activity 6 Time Period  0
Activity 7 Time Period  11
Activity 7 Time Period  10
Activity 7 Time Period  9
Activity 7 Time Period  8
Activity 7 Time Period  7
Activity 7 Time Period  6
Activity 7 Time Period  5
Activity 7 Time Period  4
Activity 7 Time Period  3
Activity 7 Time Period  2
Activity 7 Time Period  1
Activity 7 Time Period  0
Activity 8 Time Period 11
Activity 8 Time Period 10
Activity 8 Time Period 9
Activity 8 Time Period 8
Activity 8 Time Period 7
Activity 8 Time Period 6
Activity 8 Time Period 5
Activity 8 Time Period 4
Activity 8 Time Period 3
Activity 8 Time Period 2
Activity 8 Time Period 1
Activity 8 Time Period 0
Client Contract Starting Month_Apr
Client Contract Starting Month_Aug
Client Contract Starting Month_Dec
Client Contract Starting Month_Feb
Client Contract Starting Month_Jan
Client Contract Starting Month_Jul
Client Contract Starting Month_Jun
Client Contract Starting Month_Mar
Client Contract Starting Month_May
Client Contract Starting Month_Nov
Client Contract Starting Month_Oct
Client Contract Starting Month_Sep
Flag 1_Multi Year
Flag 1_Single Year
Flag 3_C
Flag 3_No
Flag 3_Yes
Flag 4_No
Flag 4_Unknown
Flag 4_Yes
Flag 6_Banking, Finance & Ins
Flag 6_Education
Flag 6_Energy & Utilities
Flag 6_Government
Flag 6_Healthcare
Flag 6_Manufacturing
Flag 6_Retail
Flag 6_Services
Flag 6_Technology and Telecom
Flag 6_Unknown
Flag 2_1
Flag 2_2
Flag 2_3
Flag 2_4
Flag 2_5
Flag 2_6
Flag 2_7
Flag 2_9
Flag 2_10
Flag 2_13
Flag 5_1
Flag 5_2
Flag 5_3
Flag 5_4
Flag 5_5
Flag 5_6
Flag 5_7
Flag 5_8
Flag 5_9
Flag 5_10
Flag 5_11
Flag 5_12
Flag 5_13
Flag 5_14
Flag 5_15
Flag 5_16
Flag 5_17
Flag 5_18
Flag 5_19
Flag 5_20
Flag 5_21

In [22]:
data=pd.read_csv('Train.csv')
data.head()
data['Client Retention Flag']= data['Client Retention Flag'].map({'Yes': 1, 'No': 0})

In [24]:
d=pd.DataFrame()

In [25]:
d['Act1']=Act1
d['Act2']=Act2
d['Act3']=Act3
d['Act4']=Act4
d['Act5']=Act5
d['Act6']=Act6
d['Act7']=Act7
d['Act8']=Act8

In [26]:
d['Company ID']=data['Company ID']
d['Flag 1']=data['Flag 1']
d['Flag 2']=data['Flag 2']
d['Flag 3']=data['Flag 3']
d['Flag 4']=data['Flag 4']
d['Flag 5']=data['Flag 5']
d['Flag 6']=data['Flag 6']

In [27]:
d.head()
data_encoded_2=pd.get_dummies(d)
pd.get_dummies(data_encoded_2,drop_first=True)
data_encoded_2=pd.get_dummies(data_encoded_2,columns=['Flag 2','Flag 5'])

In [30]:
data_encoded_2.head()
d['Company ID']=scale(data['Company ID'])
X=data_encoded_2

In [31]:
train_X, test_X, train_Y, test_Y = train_test_split(X,Y,random_state=2)

In [32]:
d_train = xgb.DMatrix(train_X, label=train_Y)
d_test = xgb.DMatrix(test_X, label=test_Y)
params = {
    "eta": 0.06,
    "objective": "binary:logistic",
    "subsample": 0.5,
    "base_score": 0.5,
    "eval_metric": "mae",
    "n_jobs":4
}
model2 = xgb.train(params, d_train, 2000, evals = [(d_test, "test")], verbose_eval=100, early_stopping_rounds=20)

F:\Anaconda\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

[0]	test-mae:0.492005
Will train until test-mae hasn't improved in 20 rounds.
[100]	test-mae:0.347566
[200]	test-mae:0.336283
[300]	test-mae:0.32793
[400]	test-mae:0.320732
[500]	test-mae:0.315481
[600]	test-mae:0.311955
[700]	test-mae:0.306816
[800]	test-mae:0.303106
[900]	test-mae:0.299164
[1000]	test-mae:0.296571
Stopping. Best iteration:
[1078]	test-mae:0.294332

In [33]:
xgb_fea_imp=pd.DataFrame(list(model2.get_fscore().items()),
columns=['feature','importance']).sort_values('importance', ascending=False)
print('',xgb_fea_imp)

                           feature  importance
2                      Company ID       10311
0                            Act1        7842
5                            Act2        4227
4                            Act4        3121
7                            Act3        2299
11                           Act8         778
1               Flag 1_Multi Year         772
9                        Flag 2_2         658
18                      Flag 3_No         645
23               Flag 6_Education         576
17                 Flag 4_Unknown         541
15                       Flag 2_6         516
14                       Flag 5_8         453
3            Flag 6_Manufacturing         401
24                           Act7         387
16                       Flag 2_7         355
19                      Flag 5_15         312
6   Flag 6_Technology and Telecom         302
12              Flag 6_Government         271
22  Flag 6_Banking, Finance & Ins         230
26                           Act5         182
28                           Act6         172
34              Flag 6_Healthcare         144
10                      Flag 2_10         126
8                 Flag 6_Services         113
20                       Flag 2_3         107
33                      Flag 5_18         103
25                       Flag 5_6          97
13                      Flag 5_14          82
31                       Flag 5_7          78
21                      Flag 5_17          74
37                       Flag 2_4          57
32      Flag 6_Energy & Utilities          55
27                      Flag 5_16          49
29                      Flag 5_19          35
39                  Flag 6_Retail          35
35                     Flag 4_Yes          32
38                       Flag 5_5          27
42                      Flag 5_10          26
30                       Flag 5_9          21
41                      Flag 5_13          18
36                      Flag 5_12          11
43                 Flag 6_Unknown           6
40                       Flag 5_4           4
44                       Flag 5_2           3
45                       Flag 5_1           3

In [39]:
y_pred=model2.predict(d_test)
y_pred
for i in range(y_pred.size):
    y_pred[i]=round(y_pred[i])

In [40]:
metrics.accuracy_score(test_Y,y_pred)

0.7595802919708029

In [41]:
clf_xgb = xgb.XGBClassifier(objective = 'binary:logistic')
param_dist = {'n_estimators': stats.randint(150, 1000),
              'learning_rate': stats.uniform(0.01, 0.6),
              'subsample': stats.uniform(0.3, 0.9),
              'max_depth': [3, 4, 5, 6, 7, 8, 9],
              'colsample_bytree': stats.uniform(0.5, 0.9),
              'min_child_weight': [1, 2, 3, 4]
             }

numFolds = 5
#kfold_5 = KFold(n=len(X), shuffle = True, n_folds = numFolds)

clf = RandomizedSearchCV(clf_xgb, 
                         param_distributions = param_dist,
#                         cv = kfold_5,  
                         n_iter = 5, # you want 5 here not 25 if I understand you correctly 
                         scoring = 'roc_auc', 
                         error_score = 0, 
                         verbose = 3, 
                         n_jobs = -1)

In [42]:
clf

RandomizedSearchCV(cv='warn', error_score=0,
                   estimator=XGBClassifier(base_score=0.5, booster='gbtree',
                                           colsample_bylevel=1,
                                           colsample_bynode=1,
                                           colsample_bytree=1, gamma=0,
                                           learning_rate=0.1, max_delta_step=0,
                                           max_depth=3, min_child_weight=1,
                                           missing=None, n_estimators=100,
                                           n_jobs=1, nthread=None,
                                           objective='binary:logistic',
                                           random_state=0, reg_alpha=0,
                                           reg_lambda=1...
                                        'learning_rate': <scipy.stats._distn_infrastructure.rv_frozen object at 0x000001A501FAD3C8>,
                                        'max_depth': [3, 4, 5, 6, 7, 8, 9],
                                        'min_child_weight': [1, 2, 3, 4],
                                        'n_estimators': <scipy.stats._distn_infrastructure.rv_frozen object at 0x000001A501FAD198>,
                                        'subsample': <scipy.stats._distn_infrastructure.rv_frozen object at 0x000001A501FAD940>},
                   pre_dispatch='2*n_jobs', random_state=None, refit=True,
                   return_train_score=False, scoring='roc_auc', verbose=3)

In [43]:
clf.fit(train_X,train_Y)

F:\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

Fitting 3 folds for each of 5 candidates, totalling 15 fits

[Parallel(n_jobs=-1)]: Done  15 out of  15 | elapsed:   37.9s finished

RandomizedSearchCV(cv='warn', error_score=0,
                   estimator=XGBClassifier(base_score=0.5, booster='gbtree',
                                           colsample_bylevel=1,
                                           colsample_bynode=1,
                                           colsample_bytree=1, gamma=0,
                                           learning_rate=0.1, max_delta_step=0,
                                           max_depth=3, min_child_weight=1,
                                           missing=None, n_estimators=100,
                                           n_jobs=1, nthread=None,
                                           objective='binary:logistic',
                                           random_state=0, reg_alpha=0,
                                           reg_lambda=1...
                                        'learning_rate': <scipy.stats._distn_infrastructure.rv_frozen object at 0x000001A501FAD3C8>,
                                        'max_depth': [3, 4, 5, 6, 7, 8, 9],
                                        'min_child_weight': [1, 2, 3, 4],
                                        'n_estimators': <scipy.stats._distn_infrastructure.rv_frozen object at 0x000001A501FAD198>,
                                        'subsample': <scipy.stats._distn_infrastructure.rv_frozen object at 0x000001A501FAD940>},
                   pre_dispatch='2*n_jobs', random_state=None, refit=True,
                   return_train_score=False, scoring='roc_auc', verbose=3)

In [47]:
clf.cv_results_

{'mean_fit_time': array([18.52993147,  0.0762287 , 16.76820858,  0.04398704,  0.04932149]),
 'std_fit_time': array([9.26121347e-02, 4.30434463e-02, 3.90762083e+00, 3.26935132e-03,
        7.54068935e-03]),
 'mean_score_time': array([0.16129406, 0.        , 0.10097996, 0.        , 0.        ]),
 'std_score_time': array([0.02222466, 0.        , 0.00743114, 0.        , 0.        ]),
 'param_colsample_bytree': masked_array(data=[0.7628629634763576, 1.269927083572627,
                    0.9898652136162114, 0.5987114447860448,
                    0.8785956354586153],
              mask=[False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_learning_rate': masked_array(data=[0.38778239077522564, 0.08819196491176401,
                    0.34318836056896623, 0.3488935464922701,
                    0.5172453285441608],
              mask=[False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_max_depth': masked_array(data=[5, 9, 4, 4, 3],
              mask=[False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_min_child_weight': masked_array(data=[2, 2, 2, 2, 2],
              mask=[False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_n_estimators': masked_array(data=[426, 265, 552, 374, 553],
              mask=[False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_subsample': masked_array(data=[0.7213032376650956, 0.45663363725923245,
                    0.9830161818311713, 1.0420373436637158,
                    1.198164644795731],
              mask=[False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'colsample_bytree': 0.7628629634763576,
   'learning_rate': 0.38778239077522564,
   'max_depth': 5,
   'min_child_weight': 2,
   'n_estimators': 426,
   'subsample': 0.7213032376650956},
  {'colsample_bytree': 1.269927083572627,
   'learning_rate': 0.08819196491176401,
   'max_depth': 9,
   'min_child_weight': 2,
   'n_estimators': 265,
   'subsample': 0.45663363725923245},
  {'colsample_bytree': 0.9898652136162114,
   'learning_rate': 0.34318836056896623,
   'max_depth': 4,
   'min_child_weight': 2,
   'n_estimators': 552,
   'subsample': 0.9830161818311713},
  {'colsample_bytree': 0.5987114447860448,
   'learning_rate': 0.3488935464922701,
   'max_depth': 4,
   'min_child_weight': 2,
   'n_estimators': 374,
   'subsample': 1.0420373436637158},
  {'colsample_bytree': 0.8785956354586153,
   'learning_rate': 0.5172453285441608,
   'max_depth': 3,
   'min_child_weight': 2,
   'n_estimators': 553,
   'subsample': 1.198164644795731}],
 'split0_test_score': array([0.75370976, 0.        , 0.7852773 , 0.        , 0.        ]),
 'split1_test_score': array([0.74155911, 0.        , 0.76914468, 0.        , 0.        ]),
 'split2_test_score': array([0.73966676, 0.        , 0.76748097, 0.        , 0.        ]),
 'mean_test_score': array([0.74497987, 0.        , 0.77396937, 0.        , 0.        ]),
 'std_test_score': array([0.00622251, 0.        , 0.00802652, 0.        , 0.        ]),
 'rank_test_score': array([2, 3, 1, 3, 3])}

In [46]:
clf.cv_results_['mean_test_score']

array([0.74497987, 0.        , 0.77396937, 0.        , 0.        ])

In [45]:
clf.cv_results_['params']

[{'colsample_bytree': 0.7628629634763576,
  'learning_rate': 0.38778239077522564,
  'max_depth': 5,
  'min_child_weight': 2,
  'n_estimators': 426,
  'subsample': 0.7213032376650956},
 {'colsample_bytree': 1.269927083572627,
  'learning_rate': 0.08819196491176401,
  'max_depth': 9,
  'min_child_weight': 2,
  'n_estimators': 265,
  'subsample': 0.45663363725923245},
 {'colsample_bytree': 0.9898652136162114,
  'learning_rate': 0.34318836056896623,
  'max_depth': 4,
  'min_child_weight': 2,
  'n_estimators': 552,
  'subsample': 0.9830161818311713},
 {'colsample_bytree': 0.5987114447860448,
  'learning_rate': 0.3488935464922701,
  'max_depth': 4,
  'min_child_weight': 2,
  'n_estimators': 374,
  'subsample': 1.0420373436637158},
 {'colsample_bytree': 0.8785956354586153,
  'learning_rate': 0.5172453285441608,
  'max_depth': 3,
  'min_child_weight': 2,
  'n_estimators': 553,
  'subsample': 1.198164644795731}]